data/
pypackages/
*.py[cod]
*.*~
*.swp
/NOTESorTODO
utility_scripts/
Django/start_gunicorn_m3db.sh
Django/stop_gunicorn.sh
Django/gunicorn.conf.py
Django/M3DB/settings.py
test_qsubm3dbcli/
M3DB/db_pyro.py
*.bak
