{%extends "base.html" %}

{%block content%}
<section id="createProject" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Step 1 - Create a New Project</h2>
        <p>	{%if msg %} {{msg}}
         	<h2>    <a href="{% url "createExperiment"%}"> Next step - Create Experiment</a> </p></h2>
          			</div>
        		</div>
		</section>
		{%else%}
			<form method='POST' action='{%url "createProject" %}'>
		{% csrf_token %}
				<table>
		{{form.as_table}}
				</table>
			<input type='submit'/>
			</form>
		{%endif%}

        </p>
           </div>
        </div>
</section>
{%endblock%}
