{% extends 'base.html' %}

{% block content %}
<header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
					<h1>M3DB User Registration Page</h1>
					<p class="intro-text">
						<form method='POST' action = '{% url "register" %}' >
						{%csrf_token%}
							<table>
						{{form.as_table}}
							</table>
						<input type='submit'>
						</form>
					</p>
					</div>
				</div>
			</div>
		</div>
</header>
{% endblock %}
